name: Docker Image CI/CD

on:
  push:
    branches: [ main ]
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '15-ea'
    - name: Build maven 
      run: mvn clean package
    - name: Get Time
      uses: nanzm/get-time-action@v1.0
      with:
        timeZone: 1
        format: 'YYYY-MM-DD-HH-mm-ss'
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        file: ./Dockerfile
        push: true
        tags: mtn-activities/database-planner:1.0.0-SNAPSHOT:${{ steps.time.outputs.time }}


